<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="academy.group5.dto.CancelLecture" alias="cancellecture"/>
		<typeAlias type="academy.group5.dto.Lecture" alias="lecture"/>
		<typeAlias type="academy.group5.dto.Lectureapply" alias="lectureapply"/>
		<typeAlias type="academy.group5.dto.Lecturenotice" alias="lecturenotice"/>
		<typeAlias type="academy.group5.dto.Lecturetime" alias="lecturetime"/>
		<typeAlias type="academy.group5.dto.Manager" alias="manager"/>
		<typeAlias type="academy.group5.dto.Mileage" alias="mileage"/>
		<typeAlias type="academy.group5.dto.Mileageproduct" alias="mileageproduct"/>
		<typeAlias type="academy.group5.dto.Notifications" alias="notifications"/>
		<typeAlias type="academy.group5.dto.Notificationsetting" alias="notificationsetting"/>
		<typeAlias type="academy.group5.dto.Posting" alias="posting"/>
		<typeAlias type="academy.group5.dto.PostingComment" alias="postingcomment"/>
		<typeAlias type="academy.group5.dto.Recommend" alias="recommend"/>
		<typeAlias type="academy.group5.dto.Term" alias="term"/>
		<typeAlias type="academy.group5.dto.UserData" alias="userdata"/>
		<typeAlias type="academy.group5.dto.Usermileage" alias="usermileage"/>
		
		<typeAlias type="academy.group5.dto.etc.UserId" alias="userid"/>
		<typeAlias type="academy.group5.dto.etc.UserPass" alias="userpass"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/UserDataMapper.xml"/>
	</mappers>
</configuration>