<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="academy.group5.dto.CancelLecture" alias="cancel_lecture"/>
		<typeAlias type="academy.group5.dto.Lecture" alias="lecture"/>
		<typeAlias type="academy.group5.dto.LectureApply" alias="lecture_apply"/>
		<typeAlias type="academy.group5.dto.LectureNotice" alias="lecture_notice"/>
		<typeAlias type="academy.group5.dto.LectureTime" alias="lecture_time"/>
		<typeAlias type="academy.group5.dto.Manager" alias="manager"/>
		<typeAlias type="academy.group5.dto.Mileage" alias="mileage"/>
		<typeAlias type="academy.group5.dto.MileageProduct" alias="mileage_product"/>
		<typeAlias type="academy.group5.dto.Notifications" alias="notifications"/>
		<typeAlias type="academy.group5.dto.NotificationSetting" alias="notification_setting"/>
		<typeAlias type="academy.group5.dto.Posting" alias="posting"/>
		<typeAlias type="academy.group5.dto.PostingComment" alias="posting_comment"/>
		<typeAlias type="academy.group5.dto.Recommend" alias="recommend"/>
		<typeAlias type="academy.group5.dto.Term" alias="term"/>
		<typeAlias type="academy.group5.dto.UserData" alias="user_data"/>
		<typeAlias type="academy.group5.dto.UserMileage" alias="user_mileage"/>
		
		<typeAlias type="academy.group5.dto.etc.UserPass" alias="user_pass"/>
		<typeAlias type="academy.group5.dto.etc.Paging" alias="paging"/>
		<typeAlias type="academy.group5.dto.etc.LecturePaging" alias="lecture_paging"/>
		<typeAlias type="academy.group5.dto.etc.Voting" alias="voting"/>
		<typeAlias type="academy.group5.dto.etc.MostRecommend" alias="most_recommend"/>
		<typeAlias type="academy.group5.dto.etc.NotificationSettingList" alias="notification_setting_list"/>
		<typeAlias type="academy.group5.dto.etc.SettingRecommend" alias="setting_recommend"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/UserDataMapper.xml"/>
		<mapper resource="mapper/LectureMapper.xml"/>
		<mapper resource="mapper/BoardMapper.xml"/>
		<mapper resource="mapper/NoticeMapper.xml"/>
		<mapper resource="mapper/NotificationMapper.xml"/>
		<mapper resource="mapper/TermMapper.xml"/>
		<mapper resource="mapper/GCMMapper.xml"/>
		<mapper resource="mapper/PhoneMapper.xml"/>
		<mapper resource="mapper/MileageMapper.xml"/>
	</mappers>
</configuration>