<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/dbconfig.txt"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="workshop.model.dto.Board" alias="board"/>
		<typeAlias type="workshop.model.dto.Customer" alias="customer"/>
		<typeAlias type="workshop.model.dto.Reply" alias="reply"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper/boardMapper.xml"/>
		<mapper resource="mapper/customerMapper.xml"/>
		<mapper resource="mapper/replyMapper.xml"/>
	</mappers>
</configuration>