<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workshop.dao.ReplyMapper">
	<select id="selectAllReply" resultType="reply">
		select * from reply
	</select>
	
	<select id="selectReplyById" parameterType="int" resultType="reply">
		select * from reply where reply_no = #{repNo}
	</select>
	
	<delete id="deleteReplyById" parameterType="int">
		delete from reply where reply_no = #{repNo}
	</delete>
	
	<update id="updateReply" parameterType="reply">
		update reply set content = #{replyContent} where reply_no = #{replyNo}
	</update>
	
	<insert id="insertReply" parameterType="reply">
		insert into reply (reply_no, reply_content, customer_cust_id, board_board_no)
		values(SEQ_reply_reply_no.nextval, #{replyContent}, #{customerCustId}, #{boardBoardNo})
	</insert>
	
	<select id="selectReplyByBoardNo" parameterType="int" resultType="reply">
		select * from reply where board_board_no = #{boardNo}
	</select>
	
	<delete id="deleteReplyByBoardNo" parameterType="int">
		delete from reply where board_board_no = #{boardNo}
	</delete>
	
</mapper>