<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.BoardMapper">
	
	<select id="selectAllPosting" parameterType="paging" resultType="posting">
		select *
		from (select rownum as rnum, sub.*
			 from (select posting_id, user_id, to_char(posting_time, 'YYYY-mm-dd hh24:mi') as posting_time,
			 			  posting_hits, posting_recommand, posting_title, posting_photo
				  from Posting 
				  where	posting_type = #{postingType}
				  <choose>
					  <when test="searchData != null and searchDataType == 'title'">
				      and posting_title like '%'||#{searchData}||'%' 
				      </when>
				      <when test="searchData != null and searchDataType == 'content'">
				      and posting_content like '%'||#{searchData}||'%' 
				      </when>
				      <when test="searchData != null and searchDataType == 'user'">
				      and user_id like '%'||#{searchData}||'%' 
				      </when>
				      <when test="searchData != null and searchDataType == 'all'">
				      and posting_title like '%'||#{searchData}||'%' or
				      	  posting_content like '%'||#{searchData}||'%'
				      </when>
			      </choose>
			      <choose>
				      <when test="orderType == 'recommand'">
					  order by posting_recommand desc
					  </when>
					  <otherwise>
					  order by posting_time desc
					  </otherwise>
				  </choose>
				  ) sub
			 )
		where rnum &gt;= #{startIdx} and rnum &lt;= #{endIdx}
	</select>
	
	 <select id="selectMostRecommendPosting" parameterType="int" resultType="posting">
	 	select *
	 	from (select rownum as rnum, sub.*
	 		  from (select posting_id, user_id, to_char(posting_time, 'YYYY-mm-dd hh24:mi') as posting_time,
			   		 	   posting_hits, posting_recommand, posting_title, posting_photo
			 	    from Posting
			 	    where posting_recommand &gt; 0 and posting_time &gt; sysdate - #{period}
			 	    order by posting_recommand desc
			 	    ) sub
			  )
		where rnum = 1
	</select>
	
	<insert id="insertPosting" parameterType="posting">
		insert into Posting
		(posting_type, user_id, posting_time, posting_hits,
			posting_recommand, posting_title, posting_content, posting_photo)
		values(#{postingType}, #{userId}, sysdate, 0, 0, #{postingTitle}, #{postingContent}, #{postingPhoto}) 
	</insert>
	
	<update id="updatePosting" parameterType="posting">
		update Posting 
		set	user_id = #{userId},
			posting_title = #{postingTitle},
			posting_content = #{postingContent},
			posting_photo = #{postingPhoto}
		where posting_type = #{postingType} and posting_id = #{postingId}
	</update>
	
	<update id="updatePhoto" parameterType="posting">
		update Posting
		set posting_photo = #{postingPhoto}
		where posting_type = #{postingType} and posting_id = #{postingId}
	</update>
	
	<select id="selectPostingId" parameterType="posting" resultType="int">
		select posting_id
		from(select rownum as rnum, sub.*
		    from(select posting_id
		        from Posting
		        where posting_type = #{postingType} and user_id = #{userId}
		        order by posting_id desc
		        ) sub
		    )
		where rnum = 1
	</select>
	
	<delete id="deletePosting" parameterType="posting">
		delete from Posting
		where posting_id = #{postingId} and posting_type = #{postingType}
	</delete>
	
	<select id="selectPostingInfo" parameterType="posting" resultType="posting">
		select *
		from Posting
		where posting_id = #{postingId} and posting_type = #{postingType}
	</select>
	
	<select id="selectAllComment" parameterType="posting" resultType="posting_comment">
		select comment_id, user_id, comment_parent_id, to_char(comment_time, 'YYYY-mm-dd hh24:mi:ss') as comment_time, comment_content
		from PostingComment
		where posting_id = #{postingId} and posting_type = #{postingType}
	</select>
	
	<insert id="insertComment" parameterType="posting_comment">
		insert into PostingComment
		(posting_type, user_id, comment_parent_id, comment_time, comment_content)
		values (#{postingType}, #{userId}, #{commentParentId}, sysdate, #{commentContent})
	</insert>
	
	<delete id="deleteComment" parameterType="int">
		delete from PostingComment
		where comment_id = #{commentId}
	</delete>
	
	<update id="updateComment" parameterType="posting_comment">
		update PostingComment 
		set comment_content = #{comment_content}
		where comment_id = #{commentId}
	</update>

	<select id="selectRecommend" parameterType="recommend" resultType="int">
		select count(*)
		from Recommend
		where posting_id = #{postingId} and posting_type = #{postingType}
			 and user_id = #{userId}
	</select>
	
	<insert id="insertRecommend" parameterType="recommend">
		insert into Recommend 
		values (#{postingId}, #{postingType}, #{userId})
	</insert>
</mapper>