<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.LectureMapper">
	
	<select id="selectAllLecture" parameterType="paging" resultType="lecture">
		select *
		from (select rownum as rnum, sub.*
			 from (select distinct lecture_id, lecture_class, lecture_name, professor_name
				  from Lecture join LectureTime using (lecture_id, lecture_class)
				  where is_temp_date is null
				  <choose>
				  <when test="searchData != null and searchDataType == 'lecture'">
			      and lecture_name like '%'||#{searchData}||'%' 
			      </when>
			      <when test="searchData != null and searchDataType == 'professor'">
			      and professor_name like '%'||#{searchData}||'%' 
			      </when>
			      </choose>
				  order by lecture_id) sub)
		where rnum &gt;= #{startIdx} and rnum &lt;= #{endIdx}
	</select>
	
	<select id="selectIsLectureApply" parameterType="lecture_apply" resultType="int">
		select count(*)
		from LectureApply
		where lecture_id = #{lectureId}
		  and lecture_class = #{lectureClass}
		  and user_id = #{userId}
	</select>
	
	<insert id="insertLectureApply" parameterType="lecture_apply">
		insert into LectureApply
		(lecture_id, user_id, lecture_class, is_president)
		values (#{lectureId}, #{userId}, #{lectureClass}, #{isPresident})
	</insert>
	
	<delete id="deleteLectureApply" parameterType="lecture_apply">
		delete from LectureApply
		where user_id = #{userId}
			and lecture_id = #{lectureId}
	</delete>
	
	<select id="selectLectureByUser" parameterType="String" resultType="user_lecture_time">
		select lecture_time_id, lecture_start, lecture_end, lecture_week, lecture_id, lecture_name,
			   professor_name, lecture_class, lecture_place, is_president
		from LectureTime join LectureApply using (lecture_id, lecture_class)
						 join Lecture using (lecture_id, lecture_class)
		where user_id = #{userId} and is_temp_date is null
	</select>
	
	<select id="selectLectureByClass" parameterType="lecture" resultType="lecture">
		select *
		from Lecture
		where lecture_id = #{lectureId} and lecture_class = #{lectureClass}
	</select>
	
	<select id="selectLectureByTimeId" parameterType="int" resultType="lecture">
		select lecture_id, lecture_class
		from Lecture join LectureTime using (lecture_id, lecture_class)
		where lecture_time_id = #{lectureTimeId}
	</select>
	
	<select id="selectLectureTimeByUser" parameterType="String" resultType="user_lecture_time">
		select lecture_start, lecture_end, lecture_week, lecture_name, lecture_class, lecture_place
		from LectureTime join LectureApply using (lecture_id, lecture_class)
						 join Lecture using (lecture_id, lecture_class)
						 left join CancelLecture using (lecture_time_id)
		where user_id = #{user_id} 
		  and (is_temp_date &gt; sysdate or is_temp_date is null)
		  and (cancel_date &lt; sysdate or cancel_date is null)
	</select>
	
	<select id="selectLectureTimeByLecture" parameterType="lecture" resultType="lecture_time">
		select *
		from LectureTime
		where lecture_id = #{lectureId} and lecture_class = #{lectureClass}
		  and is_temp_date is null
	</select>
	
	<select id="selectAlreadyLectureTime" parameterType="user_lecture_time" resultType="user_lecture_time">
		select lecture_name, lecture_class, lecture_week, lecture_start, lecture_end
		from LectureTime join LectureApply using (lecture_id, lecture_class)
						 join Lecture using (lecture_id, lecture_class)
		where lecture_start &lt;= #{lectureEnd}
		  and lecture_end &gt;= #{lectureStart}
		  and lecture_week = #{lectureWeek}
		  and user_id = #{userId}
		  and is_temp_date is null
	</select>
	
	<select id="selectLectureTimeById" parameterType="int" resultType="lecture_time">
		select *
		from LectureTime
		where lecture_time_id = #{lectureTimeId}
	</select>
	
	<select id="selectLectureName" parameterType="int">
		select lecture_name
		from Lecture
		where lecture_id = #{lectureId}
	</select>
	
	<select id="selectIsPresident" parameterType="lecture_apply" resultType="lecture_apply">
		select is_president, right_end_time
		from LectureApply
		where lecture_id = #{lectureId} 
			and lecture_class = #{lectureClass}
			and user_id = #{userId}
	</select>
	
	<select id="selectLectureIdList" resultType="lecture">
		select lecture_id, lecture_class
		from Lecture
	</select>
	
	<insert id="insertTempLectureTime" parameterType="lecture_time">
		insert into LectureTime
		(lecture_id, lecture_class, lecture_start, lecture_end, lecture_place, lecture_week, is_temp_date)
		values (#{lectureId}, #{lectureClass}, #{lectureStart}, #{lectureEnd},
				#{lecturePlace}, #{lectureWeek}, #{isTempDate})
	</insert>
	
	<insert id="insertLectureCancel" parameterType="cancel_lecture">
		insert into CancelLecture
		values(#{cancelDate}, #{lectureTimeId})
	</insert>
	
	<select id="selectLectureCancel" parameterType="int" resultType="cancel_lecture">
		select *
		from CancelLecture
		where lecture_time_id = #{lectureTimeId}
		  and cancel_date &gt; sysdate
	</select>
	
	<delete id="deleteLectureCancel" parameterType="cancel_lecture">
		delete from CancelLecture
		where lecture_time_id = #{lectureTimeId}
		  and cancel_date = #{cancelDate}
	</delete>
	
</mapper>