<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.ManagerMapper">
	
	<select id="selectManager" parameterType="manager" resultType="String">
		select manager_type
		from Manager
		where manager_id = #{managerId} and manager_pass = #{managerPass}
	</select>
	
</mapper>