<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.NoticeMapper">
	
	<select id="selectAllLectureNoticeByUser" parameterType="paging" resultType="lecture_notice">
		select *
		from (select rownum as rnum, sub.*
			  from (select *
			 	 	from LectureNotice join Lecture using (lecture_id)
			 	 					   join LectureApply using (lecture_id)
			 	 	where user_id = #{data}
					order by notice_time) sub)
		where rnum &gt;= #{startIdx} and rnum &lt;= #{endIdx}
	</select>
	
</mapper>