<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.PhoneMapper">
	
	<update id="gcmUpdate" parameterType="user_data">
		update UserData
		set phone_id = #{phoneId}
		where user_id = #{userId}
	</update>
	
	<update id="gcmReset" parameterType="String">
		update UserData
		set phone_id = null
		where user_id = #{userId}
	</update>
	
	<select id="selectNotificationSettingForPhone" parameterType="String" resultType="notification_setting">
		select noti_type, week_code, noti_hour, noti_min
		from NotificationSetting
		where user_id = #{userId} and noti_on = 1
	</select>
	
	<select id="selectMostRecommendPostingForPhone" parameterType="most_recommend" resultType="posting">
		select posting_title, posting_content
	 	from (select rownum as rnum, sub.*
	 		  from (select SUBSTR(posting_title, 1, 20) as posting_title, SUBSTR(posting_content, 1, 20) as posting_content
			 	    from Posting
			 	    where posting_recommend > 0
			 	      and posting_time > sysdate - 1
			 	      and posting_type = #{postingType}
			 	    order by posting_recommend desc
			 	    ) sub
			  )
		where rnum = 1
	</select>
	
	<select id="selectNewestPostingForPhone" parameterType="String" resultType="posting">
		select posting_title, posting_content
	 	from (select rownum as rnum, sub.*
	 		  from (select SUBSTR(posting_title, 1, 20) as posting_title, SUBSTR(posting_content, 1, 20) as posting_content
			 	    from Posting
			 	    where posting_type = #{postingType}
			 	    order by posting_time desc
			 	    ) sub
			  )
		where rnum = 1
	</select>
	
	<select id="selectLectureTimeForPhone" parameterType="String" resultType="lecture_time_for_phone">
		select lecture_time_id, lecture_name, professor_name, lecture_week, lecture_start, lecture_place, is_temp_date
		from LectureTime join Lecture using (lecture_id, lecture_class)
						 join LectureApply using (lecture_id, lecture_class)
		where user_id = #{userId}
	</select>

</mapper>