<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.TermMapper">
	
	<select id="selectTermByTerm" parameterType="term" resultType="term">
		select *
		from Term
		where term_year = #{termYear} and term_classify = #{termClassify}
	</select>
	
	<select id="selectTodayTerm" resultType="term">
		select *
		from Term
		where term_start &lt;= to_char(sysdate, 'YYYY-mm-dd') and
				term_end &gt;= to_char(sysdate, 'YYYY-mm-dd')
	</select>
	
	<select id="selectTermByDate" parameterType="term" resultType="term">
		select *
		from Term
		where term_start &lt;= #{termEnd} and term_end &gt;= #{termStart}
	</select>
	
	<insert id="insertTerm" parameterType="term">
		insert into Term
		values (#{termYear}, #{termClassify}, #{termStart}, #{termEnd})
	</insert>
	
	<select id="selectAfterTermStartingDate" resultType="date">
		select term_start
		from Term
		where term_start &gt; to_char(sysdate, 'YYYY-mm-dd') and rownum = 1
		order by term_start
	</select>
	
	<select id="selectTermEndDate" resultType="date">
		select term_end
		from Term
		where term_end &gt; to_char(sysdate, 'YYYY-mm-dd') and rownum = 1
		order by term_end
	</select>
	
	<select id="selectVoterCount" resultType="int">
		select count(*)
		from LectureApply
		where is_president = '1'
	</select>
	
	<update id="updateNotPresident" parameterType="int">
		update LectureApply
		set is_president = '0'
		where user_id = 
			  (select user_id
			   from (select rownum as rnum, sub.*
			  		 from(select user_id from UserData order by user_id) sub
			  		 )
			   where rnum != #{presidentNumber}	 
			  )
	</update>
	
</mapper>