<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="academy.repo.UserDataMapper">

<!-- 	<resultMap type="userdata" id="userdataMapping">
		<id column="user_id" property="userId"/>
		<result column="user_pass" property="userPass"/>
		<result column="user_name" property="userName"/>
		<result column="user_mileage" property="userMileage"/>
		<result column="phone_id" property="phoneId"/>
		<result column="phone_num" property="phoneNum"/>
		<result column="pass_question" property="passQuestion"/>
		<result column="pass_answer" property="passAnswer"/>
	</resultMap> -->
	
	<select id="selectUser" parameterType="String" resultType="user_data">
		select user_id, user_name, user_mileage
		from UserData
		where user_id = #{userId}
	</select>
	
	<insert id="insertUser" parameterType="user_data">
		insert into UserData
		(user_id, user_pass, user_name, user_mileage, phone_num, pass_question, pass_answer)
		values (#{userId}, #{userPass}, #{userName}, #{userMileage}, #{phoneNum}, #{passQuestion}, #{passAnswer} )
	</insert>
	
	<update id="updateUser" parameterType="user_data">
		update UserData set 
		<if test="userPass != null and userPass != ''">
			user_pass = #{userPass},
		</if>
		<if test="passQuestion != null and passQuestion != '' and passAnswer != null and passAnswer != ''">
			pass_question = #{passQuestion},
			pass_answer = #{passAnswer}
		</if>
		where user_id = #{userId}
	</update>
	
	<delete id="deleteUser" parameterType="String">
		delete from UserData cascade
		where user_id = #{userId}
	</delete>
	
	<select id="selectUserId" parameterType="user_id" resultType="String">
		select user_id
		from UserData
		where user_name = #{userName} and 
			  phone_num = #{phoneNum}
	</select>
	
	<select id="selectPassQuestion" parameterType="String" resultType="String">
		select pass_question
		from UserData
		where user_id = #{userId}
	</select>
	
	<select id="selectPass_needAnswer" parameterType="user_pass" resultType="String">
		<!-- select RPAD(SUBSTR(user_pass, 1, LENGTH(user_pass)-2), LENGTH(user_pass), '*') -->
		select user_pass
		from UserData
		where user_name = #{userName} and 
			  pass_answer = #{passAnswer}
	</select>
	
	<select id="selectPass" parameterType="String" resultType="String">
		<!-- select RPAD(SUBSTR(user_pass, 1, LENGTH(user_pass)-2), LENGTH(user_pass), '*') -->
		select user_pass
		from UserData
		where user_id = #{userId}
	</select>
	
	<select id="selectId" parameterType="String" resultType="Integer">
		select count(*)
		from UserData
		where user_id = #{userId}
	</select>
	
</mapper>